* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }
  

  :root{
      font-size: 16px;
      --color-background-primary : #85c1e9;
      --color-background-inside : #fff;
      --color-btn-upperCase : #5dade2;
      --color-btn-lowerCase : #dc7633;
      --color-btn-titleCase : #76448a;
      --color-btn-inverseCase:  #5d6d7e ;
      --color-btn-clear :  #c9a723 ;
      --color-btn-copy:  #d98880 ;
      --color-btn-download :  #797d7f ;
  }

.topContent{
    display: flex;
    width: 100vw;
    align-items: center;

}

.topContent > p{
    font-family: 'Roboto', sans-serif;
    max-width: 40rem;
    margin-left: 10rem;
    font-size: 1.1rem;
    color: var(--color-background-inside);
    font-weight: bold;
}
body{
    background :var(--color-background-primary) ;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}


header{
    width:55vw;
    height: 55vh;
    margin-top: 40px;
    border-radius: 1rem;
    background: var(--color-background-inside);
    padding: 2rem;
    font-size: 2.3rem;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2{
    margin: 1rem;    
}

.logo{
    width: 20rem;
}

article{
    width: 100%;
    height: 100%;
}
textarea {
    width: 85%;
    height: 80%;
    border: 1px solid #bbb;
    padding: 0.5rem 0 0 0.5rem;
    resize: none;
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    margin-top:-20px;
}

.btn {
    width: 5rem;
    height: 3rem;
    border-radius: 1.1rem;
    padding: 1rem 0;
    background: transparent;
    color: var(--color-background-inside);
    cursor: pointer;
    transition: opacity 0.5s;
}

.mainContent{
    display: flex;
    justify-content: space-between;

}


.mainContent > p {
    display: block;
}
.buttons{
    display: flex;
    flex-direction: column;
}
.btn:hover{
    opacity: 0.8;
}


button + button {
    margin-top: 0.3rem;
}

.blue{
    background: var(--color-btn-upperCase) ;
}

.orange{
    background:  var(--color-btn-lowerCase) ;
}

.purple{
    background: var(--color-btn-titleCase);
}

.blueDark{
    background: var(--color-btn-inverseCase);
}

.copy{
    background:  var(--color-btn-copy);
}

.clear {
    background: var(--color-btn-clear);
}

.download{
    background:var(--color-btn-download) ;
}

.counter{
    font-size: 1.1rem;
    display: flex;
    margin: -85px 0 ;
}

.descriptionContent{
    margin-top:200px ;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.idioms a{
    color:white;
    border-radius: 5px;
    padding:10px ;
    text-decoration: none;
    background: #1a5276;

}

.descriptionContent > h3{
    text-align: center;
    margin: 20px 0;
}

.descriptionContent > p {
 font-size: 1rem;
   color:#000;
 
}

.descriptionContent > p + p{
    margin-top: 3px;
    margin-left: 10px;
}

.descriptionContent:last-child{
    margin-bottom: 30px;
}